<div class="container">

<h1 class='title'>Recipe Program</h1>

<% @recipes.each do |recipe| %>
  <div id="box"> <a href="/recipe/<%= recipe.id %>/show"><%= recipe.name %></a></div><br />
<% end %>
<br />

<div id="box-white"><%= link_to('Add a Recipe', {:controller => 'recipe', :action => 'new'}) %></p></div>


</div>


